%nav#header.navbar.navbar-default.navbar-fixed-top{role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{ type: 'button', data: {target: '#menu-navigation', toggle: 'collapse'} }
        %span.sr-only Open Menu
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .navbar-brand= link_to('Sportsbook', root_path)
    #menu-navigation.collapse.navbar-collapse
      %ul#nav-user.nav.navbar-nav.navbar-left
        %li= link_to('Item1', '')
        %li= link_to('Item2', '')
      %ul#nav-user.nav.navbar-nav.navbar-right
        %li= link_to('Item1', '')
        %li= link_to('Item2', '')